:root {
  --tw-color-stone-50: 250 250 249;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

section.posts-main {
  margin-bottom: var(--tw-size-5);
}

div.posts-container {
  width: 100%;
  overflow: hidden;
}

div.posts-grid {
  margin-top: 0.3rem;
  display: grid;
  gap: var(--tw-size-4);
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: start;
  justify-items: start;
}

.post {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column-reverse;
  background-color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
  color: rgb(var(--tw-color-gray-400) / var(--tw-text-opacity));
  margin-right: 0;
  min-height: 7rem;
  max-height: 1900px;
  width: 100%;
  padding: 0.3rem;
  overflow: hidden;
  word-break: keep-all;
  outline-offset: -2px;
}
.post:hover {
  outline: 1px solid black;
  cursor: pointer;
}

.post-votes {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: var(--tw-size-1);
  justify-content: flex-start;
}

.post-vote {
  background-color: transparent;
  font-size: var(--tw-font-size-3xl);
  margin-bottom: 1px;
  cursor: pointer;
}

.post-vote:hover {
  color: rgb(var(--tw-color-sky-500) / var(--tw-text-opacity));
}

.post-vote:focus {
  background-color: rgb(var(--tw-color-gray-200) / var(--tw-bg-opacity));
}

.post-voted {
  color: rgb(var(--tw-color-sky-500) / var(--tw-text-opacity));
}

.votes {
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(var(--tw-color-black) / var(--tw-text-opacity));
}

.votes-upvoted {
  color: rgb(var(--tw-color-sky-500) / var(--tw-text-opacity));
}
.votes-downvoted,
.downvote:hover {
  color: rgb(var(--tw-color-red-500) / var(--tw-text-opacity));
}

.post-information {
  display: flex;
  margin-bottom: 0.1rem;
  flex-direction: column;
  line-height: var(--tw-line-height-9);
  color: rgb(var(--tw-color-gray-500) / var(--tw-bg-opacity));
  margin-left: 0.2rem;
  max-width: 100%;
  font-size: clamp(var(--tw-font-size-xs), 1vw, var(--tw-font-size-sm));
  align-items: flex-start;
  white-space: nowrap;
  overflow-wrap: break-word;
  padding: 0 0.8rem;
  word-break: break-word;
}
.post-subreddit {
  display: flex;
  color: rgb(var(--tw-color-black) / var(--tw-text-opacity));
  font-weight: var(--tw-font-weight-bold);
  gap: var(--tw-size-1);
}
.subreddit-icon {
  border-radius: 100%;
  border-width: 0;
  display: inline-block;
  max-height: 20px;
  margin: 0 4px 0 0;
  padding: 0;
  vertical-align: middle;
  max-width: 20px;
}
.post-author:hover,
.post-author:focus {
  text-decoration: underline;
}
.post-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1.2rem;
}
.post-header-h2 {
  border-width: 0;
  color: #1a1a1b;
  font-size: var(--tw-font-size-base);
  font-weight: var(--tw-font-weight-medium);
  line-height: var(--tw-line-height-9);
  margin-bottom: 1rem;
  margin-right: 0;
  padding: 0 0.8 0 0;
  vertical-align: baseline;
  text-align: left;
}
.post-header-h2 > span,
h1 > span {
  margin-left: 0.5rem;
  white-space: nowrap;
  background-color: rgb(var(--tw-color-sky-400) / var(--tw-bg-opacity));
  border-radius: var(--tw-border-radius-full);
  padding-left: var(--tw-size-3);
  padding-right: var(--tw-size-3);
  font-size: var(--tw-font-size-xs);
}
.light {
  color: white;
}

.dark {
  color: black;
}

.post-content img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  border-radius: var(--tw-border-radius-3xl);
}

.missing {
  display: grid;
  place-items: center;
  text-align: center;
}
.is-loading-info,
.is-loading-header,
.is-loading-content {
  width: 100%;
  height: var(--tw-size-4);
  display: block;
  --tw-bg-opacity: 1;
  background-color: rgb(var(--tw-color-gray-100) / var(--tw-bg-opacity));
  margin-bottom: 0.8rem;
}
.is-loading-header {
  margin-left: 0.6rem;
}
.is-loading-content {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}
.is-loading-votes {
  background-color: rgb(var(--tw-color-gray-100) / var(--tw-bg-opacity));
  color: transparent;
  width: 20px;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

@media (min-width: 640px) {
  div.post-container {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  .post-information {
    flex-direction: row;
    gap: var(--tw-size-6);
  }
}

@media (min-width: 768px) {
  div.posts-container {
    max-width: 48rem;
    gap: var(--tw-size-2);
    margin-left: auto;
    margin-right: auto;
  }

  .post-header-h2 {
    margin-right: auto;
    font-size: var(--tw-font-size-md);
  }
  .post {
    flex-direction: row;
    width: 44rem;
    min-height: 100%;
  }
  .post-votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0rem;
    gap: 0px;
  }
  .is-loading-content {
    padding: 10rem;
  }
}

@media (min-width: 64rem) {
  div.posts-container {
    max-width: 64rem;
  }
  .post {
    width: 65%;
  }

  .post-header-h2 {
    margin-right: auto;
    font-size: var(--tw-font-size-lg);
  }
  .post-header-h2 > span {
    font-size: var(--tw-font-size-sm);
  }
}

@media (min-width: 1280px) {
  div.posts-container {
    max-width: 80rem;
  }
}

@media (min-width: 1536px) {
  div.posts-grid {
    gap: var(--tw-size-5);
    place-items: start;
  }
  .post {
    min-width: 60%;
    max-height: 100rem;
  }
}
