:root {
  --tw-color-stone-50: 250 250 249;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

section.posts-main {
  margin-bottom: var(--tw-size-15);
}

div.posts-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.posts-grid {
  display: grid;
  gap: var(--tw-size-8);
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.post {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
  color: rgb(var(--tw-color-gray-400) / var(--tw-text-opacity));
  width: 100%;
  max-width: 62rem;
  height: 100%;
  padding-left: 3rem;
}

.post-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border-right: 1px solid #d1d1d1; */
  height: 100%;
}

.post-vote {
  background-color: transparent;
  font-size: var(--tw-font-size-3xl);
  margin-bottom: 5px;
  cursor: pointer;
}

.post-voted {
  color: blue;
}

.votes {
  font-size: 18px;
  font-weight: bold;
}
.post-information {
  display: grid;
  margin-bottom: 1rem;
  gap: var(--tw-size-1);
  color: rgb(var(--tw-color-black) / var(--tw-bg-opacity));
  grid-template-columns: repeat(3, minmax(5px, 1fr));
  margin-left: 0.5rem;
  place-items: start legacy;
  font-size: var(--tw-font-size-xs);
  text-align: center;
}

.post-header {
}

.post-header h2 {
  border-width: 0;
  color: #1a1a1b;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  padding: 0 5px 0 0;
  vertical-align: baseline;
  text-align: center;
}
.post-header h2 > span {
  margin-left: 0.5rem;
  background-color: rgb(var(--tw-color-green-500) / var(--tw-bg-opacity));
  border-radius: var(--tw-border-radius-full);
  color: rgb(var(--tw-color-white) / var(--tw-text-opacity));
  padding-left: var(--tw-size-2);
  padding-right: var(--tw-size-2);
  font-size: var(--tw-font-size-sm);
}

/* .post-body {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-gap: 20px;
  padding: 20px;
} */

/* .post-content p {
  font-size: 16px;
  margin: 0;
}

.post-content img {
  border-radius: 4px;
  max-width: 100%;
}

.post-footer {
  background-color: #f6f6f6;
  border-top: 1px solid #d1d1d1;
  padding: 10px 20px;
  margin-top: auto;
}

.post-footer p {
  font-size: 14px;
  margin: 0;
} */

@media (min-width: 640px) {
  div.post-container {
    max-width: 40rem;
  }
}

@media (min-width: 768px) {
  div.posts-container {
    max-width: 48rem;
  }
}

@media (min-width: 64rem) {
  div.posts-container {
    max-width: 64rem;
  }
}

@media (min-width: 1280px) {
  div.posts-container {
    max-width: 80rem;
  }
}
