header.header-main {
  padding-top: var(--tw-size-4);
  padding-bottom: var(--tw-size-4);
  margin-bottom: var(--tw-size-10);
  border-bottom-width: 0.08rem;
  background-color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
  border-color: rgb(var(--tw-color-gray-200) / var(--tw-text-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

nav.nav-container {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  gap: var(--tw-size-20);
}
/* .logo-flex {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.logo {
  display: flex;
  align-items: center;
  font-size: var(--tw-font-size-4xl);
  font-weight: var(--tw-font-weight-bold);
  font-family: var(--tw-font-family-mono);
  color: rgb(var(--tw-color-sky-500) / var(--tw-text-opacity));
}

.logo span {
  color: rgb(var(--tw-color-black) / var(--tw-text-opacity));
}

.logo-sign {
  color: rgb(var(--tw-color-black) / var(--tw-text-opacity));
}

.header-git {
  font-size: var(--tw-font-size-3xl);
  margin-right: var(--tw-size-5);
}

.header-git:hover {
  color: rgb(var(--tw-color-gray-400) / var(--tw-bg-opacity));
}

@media (min-width: 40rem) {
  nav.mav-container {
    max-width: 40rem;
  }
}

@media (min-width: 64rem) {
  nav.mav-container {
    max-width: 64rem;
  }
  nav.nav-container {
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 80rem) {
  nav.mav-container {
    max-width: 80rem;
  }
}

@media (min-width: 96rem) {
  nav.mav-container {
    max-width: 96rem;
  }
}

@media (min-width: 1920px) {
  nav.mav-container {
    max-width: 96rem;
  }
}
