.full-posts-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 30rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  color: rgb(var(--tw-color-gray-400) / var(--tw-text-opacity));
  position: relative;
}

.full-post-bar {
  background-color: rgb(var(--tw-color-black) / var(--tw-bg-opacity));
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  vertical-align: baseline;
  z-index: 70;
  transition: top 0.3s;
}

.post-bar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  gap: var(--tw-size-10);
}
.post-bar-title {
  display: flex;
  gap: var(--tw-size-24);
  align-items: flex-end;
}

.post-bar-title > .comment-votes > p {
  color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
}

.post-bar-h1 {
  display: none;
  color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
  max-width: 50ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.go-back {
  color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
  border-width: 0;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  justify-content: flex-end;
  line-height: var(--tw-line-height-10);
  margin: 0 0 0 0.65rem;
  padding: 0;
  vertical-align: baseline;
  width: 50px;
  cursor: pointer;
}

.go-back:hover {
  color: rgb(var(--tw-color-gray-400) / var(--tw-bg-opacity));
}

.full-post {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  background-color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
  width: 100%;
  position: relative;
}
.full-post-info {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1.2rem;
  max-width: 100%;
  font-size: var(--tw-font-size-base);
  align-items: flex-start;
  white-space: nowrap;
  overflow-wrap: break-word;
  padding: 0 2rem 0 0;
  margin-bottom: 0.6rem;
  border-bottom: 1px solid rgb(236, 228, 228);
}

.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3rem;
  margin-top: 1rem;
  gap: var(--tw-size-3);
  border-bottom: 1px solid gainsboro;
}

.full-header-h2 {
  font-size: var(--tw-font-size-xl);
  text-align: left;
}

.full-post-p {
  padding: var(--tw-size-10);
  color: rgb(var(--tw-color-black) / var(--tw-text-opacity));
  font-size: var(--tw-font-size-sm);
  text-align: left;
}

.full-post-content > .post-self-text {
  border-width: 0;
  color: #1c1c1c;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: var(--tw-font-size-sm);
  font-weight: 400;
  line-height: var(--tw-line-height-2);
  border-width: 0;
  margin: 12px 0 0 8px;
  max-width: 800px;
  padding: 1.2rem 0.8rem 1.2rem 0.5rem;
  vertical-align: baseline;
  line-height: var(--tw-line-height-10);
}
.full-post-content a {
  border-width: 0;
  color: rgb(var(--tw-color-blue-500) / var(--tw-text-opacity));
  margin: 0;
  padding: 0;
  text-decoration: underline;
  vertical-align: baseline;
}

.full-post-content > img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 0rem;
}

.full-votes {
  margin-top: 0rem;
}

.flex {
  display: flex;
  gap: var(--tw-size-2);
}
.left {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (min-width: 640px) {
  .full-posts-wrapper {
    max-width: 640px;
  }
  .post-bar-h1 {
    display: block;
    align-self: center;
  }
}

@media (min-width: 768px) {
  .full-posts-wrapper {
    max-width: 768px;
  }
  .full-post-info {
    flex-direction: row;
    gap: var(--tw-size-3);
    border-bottom: none;
    font-size: var(--tw-font-size-sm);
    margin-left: 1.7rem;
  }
  .full-header-h2 {
    font-size: var(--tw-font-size-lg);
    margin-left: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .full-posts-wrapper {
    width: 1024px;
    margin-left: auto;
  }
  .full-post {
    min-width: 46rem;
    max-width: 65rem;
  }
}

@media (min-width: 1280px) {
  .full-posts-wrapper {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .full-posts-wrapper {
    max-width: 1536px;
  }
}
